# ---------- Backend ----------
fastapi
uvicorn[standard]
python-multipart

# ---------- YOLO / ML ----------
ultralytics
torch
torchvision

# ---------- Image Processing ----------
opencv-python-headless
Pillow

# ---------- Core Utils ----------
numpy
pyyaml
requests
psutil
